.header__email {
  margin: 28px 24px 0 0;
  padding: 0;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  color: #ffffff;
}

@media screen and (max-width: 619px) {
  .header__email {
    margin: 34px 0 0 0;
  }
}