.footer {
  margin: 0 auto;
  padding: 66px 0 60px;
  max-width: 880px;
  width: 100%;
  flex-shrink: 0;
}

@media screen and (max-width: 1279px) {
  .footer {
    width: calc(100% - 400px);
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    width: calc(100% - 200px);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: calc(100% - 38px);
    padding: 48px 19px 36px;
  }
}