.popup__title_type_info {
  text-align: center;
  margin: 0 auto 60px;
}

@media screen and (max-width: 1023px) {
  .popup__title_type_info {
    margin-bottom: 55px;
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  .popup__title_type_info {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 1.2;
  }
}