.popup__container {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  width: 430px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  position: relative;
}

@media screen and (max-width: 1023px) {
  .popup__container {
    width: 344px;
  }
}

@media screen and (max-width: 767px) {
  .popup__container {
    width: 282px;
  }
}