.card__button-delete {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  background-image: url(../../../images/button-delete.svg);
  background-position: center;
  width: 18px;
  height: 19px;
  box-sizing: border-box;
  cursor: pointer;
  background-repeat: no-repeat;
  transition: opacity background-image .5s ease;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card__button-delete:hover {
  opacity: .5;
}